body {
  background-color: white;
}

header {
  background-color: beige;
  padding: 5px;
  border: solid 3px bisque;
  margin: 5px;
  font-family: "Courier New", Courier, monospace;
  height: 120px;
  text-align: center;
}

main {
  font-family: Arial, Helvetica, sans-serif;
}

#name-box {
  color: brown;
  max-height: 100%;
  max-width: 47%;
  float: left;
  margin-left: 40px;
  margin-right: 20px;
}

#links-box {
  background-color: whitesmoke;
  padding: 5px;
  border: solid 3px bisque;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: brown;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  max-width: 60%;
  float: right;
}

#find-me {
  text-decoration: solid;
  /* not working */
}

.header-link {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: solid palegoldenrod 3px;
  background-color: rgb(217, 122, 138);
  color: aliceblue;
}

.page-link {
  padding: 5px;
  margin: 5px;
  width: 7rem;
  border-radius: 5px;
  border: solid pink 3px;
  background-color: rgb(217, 122, 138);
  color: aliceblue;
}

main {
  background-color: lightpink;
  padding: 5px;
  border: solid 3px bisque;
  margin: 5px;
}

.box-title {
  text-align: center;
  padding: 10px;
  margin: 5px;
  text-decoration: wavy;
  /* not working */
}

#bio-box {
  background-color: beige;
  padding: 5px;
  border: solid 3px bisque;
  margin: 5px;
  max-height: 450px;
  border-radius: 10px;
}

#bio-text {
  background-color: whitesmoke;
  padding: 5px;
  border: solid 3px bisque;
  margin: 5px;
  border-radius: 10px;
  color: rgb(83, 38, 45);
  width: 72%;
  max-height: 100%;
  float: right;
}

#bio-img {
  max-width: 25%;
  max-height: 100%;
  margin: 2px;
  border: solid 3px bisque;
  border-radius: 10px;
}

#careers-box {
  background-color: beige;
  padding: 5px;
  border: solid 3px bisque;
  margin: 5px;
  border-radius: 10px;
  color: rgb(83, 38, 45);
}

li {
  color: lightslategrey;
}

#education-box {
  background-color: beige;
  padding: 5px;
  border: solid 3px bisque;
  margin: 5px;
  border-radius: 10px;
  color: rgb(83, 38, 45);
}

#quiz-box {
  background-color: beige;
  padding: 5px;
  border: solid 3px bisque;
  margin: 5px;
  border-radius: 10px;
  color: rgb(83, 38, 45);
  width: 56%;
  float: right;
  height: 250px;
}

#top10-box {
  background-color: beige;
  padding: 5px;
  border: solid 3px bisque;
  margin: 5px;
  border-radius: 10px;
  color: rgb(83, 38, 45);
  width: 40%;
}

#top10-list {
  color: maroon;
}

footer {
  background-color: whitesmoke;
  padding: 5px;
  border: solid 3px bisque;
  margin: 5px;
  font-family: "Courier New", Courier, monospace;
}

.footer-link {
  padding: 5px;
  margin: 5px;
  width: 7rem;
  border-radius: 5px;
  border: solid pink 3px;
  background-color: rgb(217, 122, 138);
  color: aliceblue;
}

#footer-text {
  text-align: center;
  padding: 10px;
}
